.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;
  border-bottom: 2px solid #f3f3f3;

  flex-wrap: wrap; /* IMPORTANT */
  gap: 10px;

  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}

input {
  flex: 1;
  min-width: 180px;

  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  border-radius: 5px;
  margin-left: 280px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icons {
  font-size: 1.5rem;
  height: 1.5rem;
  color: #494949;
  margin-left: 2rem;
}

@media screen and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    align-items: stretch;
  }

  input {
    width: 100%;
  }

  .profile-container {
    justify-content: center;
  }
}
